<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thanks for downloading SimpleOpenServer, <%= @download.firstName %></h4>
    <p>
      To view the downloads available, follow the link below:<br>
      <%= download_url %>/<%= @download.link %>
    </p>
    <p>
      For any troubles downloading SimpleOpenServer, please contact <br>
      <b>Patricio Panichelli</b><br>
      patricio.panichelli@gmail.com
    </p>
    <p>
      <em>Have a nice day!</em>
    </p>
    <p>Simple Open Server | OpenServer code done right</p>
  </body>
</html>