<footer class="footer">
  <small>
    Project by <a href="http://br.linkedin.com/in/patriciopanichelli">Patricio Panichelli</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>